<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link type="text/css" href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<p></p>
<div class="container container border border-5 border-dark rounded-3 p-5">
    <h2 class="text-center"> 게시판 </h2>
    <br>
    <div class="justify-content-md-end">
        <button type="button" class="btn btn-success" onclick="window.location.href = '/add';">추가</button>
    </div>
    <p></p>
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>id</th>
            <th>제목</th>
            <th>기능</th>
        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
            <td><a href="/board/{{ article.id }}">{{ article.id }}</a></td>
            <td><a href="/board/{{ article.id }}">{{ article.title }}</a></td>
            <td>
                <button class="btn btn-primary" type="button" onclick="window.location.href = '/update/{{ article.id }}';">수정하기</button>
                <button class="btn btn-danger" type="button" onclick="window.location.href = '/delete/{{ article.id }}';">삭제하기</button>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>